###  Write a Python program to sum all the items in a list.

In [1]:
li=[1, 3, 4, 2 ,5 ]
sumli=sum(li)
print(sumli)

15

### 2. Write a Python program to get the largest number from a list

In [2]:
li=[1,2,4,5,6,3,5]
print(max(li))

6

* Write a Python program to count the number of strings where the string length
is 2 or more and the first and last character are same from a given list of strings.

In [3]:
def match_words(words):
    ctr = 0

    for word in words:
        if len(word) > 1 and word[0] == word[-1]:
            ctr += 1
    return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

#### 4. Write a Python program to remove duplicates from a list.

In [4]:
 l=[1,3,5,3,6,3,7,3]
l1=[]
for i in l:
    if i not in l1:
            l1.append(i)
    else:
            print(i,end=" ")

3 3 3

#### 5. Write a Python program to check a list is empty or not.

In [5]:
def empty_list(li):
    str1=li.split()

    if len(str1)==0:
        print("True")
    else:
        print(str1)
empty_list("")

True

###  6. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [6]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

### 7. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [7]:
num=[7,3,2,5,6,2,6,55,45,64,34]
num=[x for x in num if x%2!=0]


print(newlist)

NameError: name 'newlist' is not defined

### 8. Write a Python program to convert a list of characters into a string.

In [ ]:
s=['a','b','c','d','e','f','g']
str1=''.join(s)
print(str1)

### 9. Write a Python program to find the second largest number in a list.

In [ ]:
lis=[10,39,39,40,40,30,50,20]
li=list(set(lis))
li.sort()
print(li[-2])

### 10. Write a Python program to get unique values from a list.

In [ ]:
li=[10,20,30,40,20,50,20]
lis=list(set(li))
print(lis)